.StreamingPlan {
    .row {
        text-align: center;

        div {
            float: left;
        }
    }
    table {
        width: 100%;
        margin: 20px auto;
        table-layout: auto;
        border-collapse: collapse;
        overflow: auto;
        display: block;

        th,
        td {
            border: 1px solid #fff;
            padding: 10px;
            border-collapse: collapse;
            text-align: center;
            width: 200px;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }

    div {
        margin-bottom: 2%;
    }
}
