@import './src/assets/css/_variables.scss';

.AddCustomer {
	.worktime {
        border-bottom: 1px solid white;
        border-left: 40px solid black;
        border-right: 40px solid black;
        padding: 0 5px;
    }
}
