@import 'variables';
@import 'font';

body {
    color: $white;
    background-color: $black;
    overflow-x: hidden;

    h1 {
        margin-bottom: 20px;
        font-family: $base-font;
        text-align: center;
        word-wrap: break-word;
    }

    a {
        text-decoration: none !important;
        cursor: pointer;
    }
}
