@import 'variables';
@import 'font';

body {
    color: $white;
    background-color: $black;
    overflow-x: hidden;

    h1 {
        font-family: $base-font;
    }

    a {
        text-decoration: none !important;
        cursor: pointer;
    }
}
