.Navigation {
    #navbar {
        z-index: 1030;
        transition: all 0.5s;
        position: fixed;
        top: 0px;
        right: 0px;
        white-space: nowrap;
        padding-top: 60px;
        height: 80px;
        overflow: hidden;
        scrollbar-width: none;
        width: 60px;

        > div {
            cursor: pointer;
        }

        i {
            padding-left: 10px;
            transition: all 0.4s ease-in-out;
        }
    }

    #navigation {
        opacity: 1 !important;
        position: absolute;
        top: 5px;
        left: 0;
    }

    .nav-link {
        color: #fefdf8;

        &:hover {
            color: #f1f1f1;
        }
    }

    .main-menu {
        font-size: 36px;
        color: #000;
        position: absolute;
        top: 7px;
        transition: all .4s ease-in-out;
        right: 10px;
    }

    .open {
        width: 400px !important;
        max-width: 100% !important;
        background-color: #5a0069;
        //background: linear-gradient(180deg,#2D769C, #5a0069);
        height: 100vh !important;
        max-height: 100%;
        padding-left: 10px;

        > div {
            transition: all 0.4s ease-in-out;
            padding-left: 5px;
            justify-content: flex-start !important;

            i {
                top: 15px;
                left: 13px;
                transform: rotate(270deg);

                &:before {
                    content: '\f00d';
                }
            }
        }

        .navbar-items {
            font-size: 1.25rem;
            display: flex !important;
        }
    }

    img {
        height: 50px;
    }
}
