@import './src/assets/css/_variables.scss';

.Streamer {
    h4 {
        text-align: center;
    }

    img {
        border: 1px solid lightgrey;
        border-radius: 100%;
    }

    .entrie {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .streamplan {
        text-align: center;

        .time {
            margin-left: .5rem;
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .Streamers {
            position: relative;
        }
        
        div {
            flex: 0 0 20%;
            margin-bottom: 2%;
        }
    }

    &-content-container {
        position: absolute;
        text-decoration: none;
        color: $white;
        top: 100%;
    }

    .dropdown-wrapper {
        display: flex;
        justify-content: center;
    }

    .dropdown {
        position: relative;
        text-align: center;
    }

    .dropdown-content {
        display: none;
        cursor: default;
        background-color: #242424;
        transition: width 2s;
        border-radius: 4rem;
        position: absolute;
        top: 94%;
        z-index: 1000;
    }

    .desc {
        padding: 1rem;
        text-align: center;
        min-width: 100%;
    }

    .Streamers:hover .dropdown-content {
        display:flex;
    }

    .center {
        text-align: center;
    }
}